<div class="col-4">
	<div class="pricing-card">

		<div class="plan-name">{{ content.field_title }} 
			abc</div>
		{# <div class="plan-name">{{ fields.content['#row']._entity.title.value }}</div>
		<div class="plan-description">{{ fields.content.field_features }}</div>
		<div class="price">${{  fields.content.field_price }}</div>
		<div class="price-period">Per user. One-time annually.</div>
		<button class="buy-btn" data-product-id="{{ product.id }}">
			Buy Now →
		</button>

		<div class="features-section">
			<div class="features-title">Key features:</div>
			<ul class="features-list">
				<li>{{ feature }}</li>
			</ul>
		</div> #}
	</div>
</div>
